button {
    border: none; /* Remove borders */
    color: white; /* White text */  
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: 4px;
    box-shadow: 2px 2px 4px #aaaaaa;
    background-color: rgb(73, 73, 73);
    min-height: 24px;
    text-align: center;
}


/* .wrapper {
    margin: 12px auto;
} */

.add-row {
    background-color: rgb(24, 99, 170);
    border-radius: 24px;
    max-width: 28px;
    display: flex;
}

.add-row:hover {
    background-color: blue;
}

.bottom-buttons {
    width: 100px;
    height: 36px;
}

button[type=submit] {
    background-color: green;
}

.bottom-container {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

  /* Darker background on mouse-over */
.btn:hover {
    background-color: red;
}

/* form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
} */

.budget-entry {
    margin: 24px auto;
}

.button-container {
    display: flex;
    flex-direction: column;
    min-width: 900px;
    align-items: flex-end;
    margin-top: -58px;
}

.contain {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

#email {
    width: 300px;
}

.form-line {
   display: flex;
   align-items: center;
}

.form-style-5 {
    max-width: 1250px;
	margin: 48px auto;
	padding: 20px;
	background: #ededed;
	border-radius: 8px;
    display: flex;
    justify-content: center;
}

.form-style-5 select{
	-webkit-appearance: menulist-button;
	height:35px;
}

.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
	border: none;
	border-radius: 4px;
	font-size: 16px;
    color: #434343;
	margin: 0;
	outline: 0;
	padding: 10px;
    height: 42px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
    box-shadow: 1px 1px 1px #e3e3e3;
}

.form-style-5 label {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 16px;
    font-weight: bold;
    color: #434343;
    margin-bottom: 3px;
}

#startDate, #endDate {
    width: 408px;
}

#notes, #startDate, #endDate {
    font-family: Arial, Helvetica, sans-serif;
    width: 408px;
}

.input-entry {
    display: flex;
    flex-direction: column;
    margin: 4px 8px -8px 0;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}


/* The Modal (background) */
.modal-dialog, .modal-dialog-confirmation {
    background: #fefefe;
    border: gray solid 3px;
    border-radius: 5px;
    box-shadow:0 5px 10px rgba(0,0,0,0.3);
    width: 360px;
    text-align:center;
    z-index: 11 !important;
    position: fixed;
    margin-top: 48px;
  }

  .modale:before, .confirmation-modale:before {
    content: "";
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  

.remove-row {
    max-height: 28px;
    background-color: #EB212E;
    color: #ffffff;
    border: none;
}

.shift {
    margin-left: -4px;
}

/* for the toggle element */

  .tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  /* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .toggle-div {
    display: flex;
  }



