.wrapper {
    margin: 12px 0 0 24px;
}

/* form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
} */

.full-width {
    width: 840px;   
    margin-top: 4px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.contain {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

.form-line {
   display: flex;
   align-items: center;
}

.input-entry {
    display: flex;
    flex-direction: column;
    margin: 4px 8px 16px 0;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


.remove-row {
    max-height: 28px;
}

textarea:focus {
    width: 243px;
    height: 82px;
}