.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.full-width {
    grid-column: 1 / 3;   
}

.contain {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

.form-line {
   display: flex;
   flex-direction: column;
}