/* .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
} */

/* form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
} */

.full-width {
    width: 840px;   
    margin-top: 4px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.contain {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

.form-line {
   display: flex;
}

.input-entry {
    display: flex;
    flex-direction: column;
    margin: 4px 8px 16px 0;
}

textarea:focus {
    width: 243px;
    height: 82px;
}